html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #f4f4f4;
    padding: 10px 0 10px 0;
    text-align: center;
}

header nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header nav .navInactive p, header nav .navActive p {
    position: relative;
    margin: 0;
}

header nav .navInactive p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: black;
    transition: width 0.4s;
}

header nav .navInactive p:hover::after {
    width: 100%;
}

header nav .navInactive p.active::after {
    width: 100%;
}

.navActive p {
    border-bottom: 2px solid black;
}


/* ------------------------------------------------------ */

/* Footer */

footer {
    position: fixed;
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0 10px 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}