main {
    padding: 20px;
    max-width: 90vw;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

#textContent div h3 {
    margin-bottom: 10px;
}

#textContent div p {
    margin-bottom: 20px;
}

.TexteBouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.TexteBouton a {
    text-decoration: none;
}

.TexteBouton a button {
    padding: 1vh 1vw 1vh 1vw;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TexteBouton a button:hover {
    background-color: #688B58;
    color: white;
}